/*AboutDatabases-Colors.css*/

body 		{ font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;}
a:link 		{ color: #055;}
a:visited 	{ color: #404;}

#header 		{ text-align: center;
			  color: white; background-color: #8394A5;}
#header h1, #header h2 
			{ margin: 0; }
#header h1 	{ color: #FFFF00; font-size: 250%;}
#header h2 	{ font-weight: normal; font-style: italic;}

#sitenav 	{ color: white; background-color: #2B94FE;}
#sitenav ol 	{ font-size: 90%; text-align: center;}
#sitenav li 	{ margin-left: 1em;
			  border-left: 1px solid #DD0; }
#sitenav li a:link, #sitenav li a:visited 
			{ color: white; text-decoration: none;}
#sitenav li a:hover 
			{ color: #DDDD00;}
			
#main 		{ background-color: #AEC6DE;}

#content 	{ background-color: white; padding: 1em 5em;}
#content h3 	{ margin-top: 0;}
#content p 	{ font-size: 90%; line-height: 1.4;}

#sidebar h3 	{ font-size: 100%; color: white; margin: 0;
			 font-weight: normal; padding: 0.125em 0.25em;
			 background-color: #2B94FE;}
#sidebar ol 	{ background-color: white; border: 2px solid #404;
			  border-top: 0; margin: 0 0 1em 0;
			  padding: 0.125em 0.25em; }
#sidebar li 	{ font-size: 85%;
			  display: block; padding: 0.125em 0;}
#sidebar li a:link, #sidebar li a:visited 
			{ text-decoration: none; color: #055;}
#sidebar li a:hover 
			{ color: #404;}
#footer 		{ background-color: #2B94FE; color: white;
			  padding: 0.5em 5em;}
#footer p 	{ margin: 0em; font-size: 85%;}
#footer p a:link, #footer p a:visited 
			{ color: #DDDD00;}